body {
  background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/square_bg.png');
  color: black;
}

.title {
  font-family: 'Pacifico', cursive;
  font-size: 5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 65%;
}

.desc {
  font-weight: 200;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  text-align: center;
  width: 65%;
}

.name-form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 65%;
}

.sig {
  margin-top: 20px;
}
